body {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5rem;
}

h1 {
  margin: 3rem 0 3rem;
}

h2 {
  margin: 1.5rem 0 1.5rem;
}

h3 {
  margin: 1.5rem 0 1.5rem;
}

h4 {
  margin: 0.75rem 0 0.75rem;
}